.header {
  padding-top: 20px;
  padding-bottom: 10px;
}

.header__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}

.header__announcment {
  justify-self: center;
}

.header__navigation {
  justify-self: end;
}

/* @media (max-width: 600px) {
  .header {
    padding-top: 15px;
  }
} */

@media (max-width: 480px) {
  .header {
    padding-top: 15px;
  }

}

@media (max-width: 650px) {
  .header__container {
    grid-template-columns: 45px 1fr 45px;
  }
}